body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav {
    background-color: #333;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.ms-auto {
    margin-left: auto;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-lg-0 {
    margin-bottom: 0;
}

.shadow-sm {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border-0 {
    border: none;
}